nav {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px 50px;
    color: black;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 5px 10px; 
    font-size: 20px;
    font-weight: bold;
    color: black;
}